*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: #fff;
}
@font-face{
  font-family: "NunitoSans";
  src: url(font/NunitoSans-Bold.ttf) format("ttf");
  font-weight: bold;
}
@font-face{
  font-family: "NunitoSans";
  src: url(font/NunitoSans-Regular.ttf) format("ttf");
  font-weight: normal;
}
.banner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 920px;
  border: 2px solid #605DEC;
  border-radius: 26px;
  align-items: center;
  margin: 0 auto;
}
.banner:hover{
  background-image: url(img/pythonbg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.banner:hover > .banner_content > .banner_button {
  background-color: #5F5C83;
  border: 0;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}
.banner_img{
  z-index: 1;
  margin-top: 43px;
  margin-bottom: 59px;
  margin-left: 52px;
  margin-right: 67px;
}
.banner_content{
  padding-right: 62px;
}
.category{
  background-color: #5F5C83;
  border-radius: 54px;
  padding: 8px 16px;
  font-family: "NunitoSans", sans-serif;
  font-weight: normal;
  color: white;
  font-size: 14px;
}
.banner_title{
  font-size: 32px;
  font-family: "NunitoSans", sans-serif;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 8px;
}
.banner_text{
  font-size: 16px;
  font-family: "NunitoSans", sans-serif;
  font-weight: normal;
  padding-bottom: 13px;
  line-height: 160%;
}
.banner_button{
  width: 283px;
  height: 56px;
  color: #fff;
  border: 1px solid #605DEC;
  border-radius: 4px;
  background-color: #605DEC;
  font-size: 20px;
  font-family: "NunitoSans", sans-serif;
  font-weight: normal;
}
.banner_img_mobile{
  display: none;
}
@media (min-width: 768px) and (max-width: 1024px){
  .banner{
    width: 707px;
  }
  .banner_content{
    padding-right: 36px;
  }
  .banner_img_mobile{
    display: none;
  }
}
@media (max-width: 767px){
  .banner{
    width: 375px;
  }
  .banner_content{
  padding-top: 17px;
  padding-left: 33px;
  padding-right: 33px;;
  }
  .banner_button{
    margin-bottom: 25px;
  }
  .banner_img{
  display: none;
  }
  .banner_img_mobile{
    justify-content: center;
    display: flex;
  }
  .banner_text{
    padding-top: 14px;
  }
  .banner_title{
    padding-bottom: 13px;
  }
}
